<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bvb.android.example.com.practice2016_17">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".secondActivity" />
        <activity android:name=".loginDemoActivity" />
        <activity android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstActivity" />
        <activity android:name=".httpRequestActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ReadPreferenceActivity" />
        <activity android:name=".FragmentDemoActivity" />
        <activity android:name=".LP_minor1_2c" />
        <activity android:name=".Student_Deailed_Activity" />
        <activity android:name=".Staff_Detailed_Activity" />
        <activity android:name=".lp_minor1_1c_Activity" />
        <activity android:name=".DbTest1Activity"></activity>
    </application>

</manifest>